.text1{
	
	font-weight: bold;
	text-decoration: line-through;
}

.text2{
	background-color: yellow;
	font-weight: bold;

}
.text3{
	text-decoration: underline;
	font-style: italic;
}
.text4{
	color: brown;
	letter-spacing: 4px;
}